[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Shoppinglist
Exec=/usr/bin/shoppinglist
Icon=shoppinglist
X-Maemo-Category=Main
X-Window-Icon=shoppinglist
X-Window-Icon-Dimmed=shoppinglist
X-Osso-Service=org.indt.shoppinglist
